{{!-- Cutome style sheet for this page --}}
<link rel="stylesheet" href="/css/admin.css">

<div class="container">
    {{!-- create a new travel plan --}}
    <a class="btn" href="/admin/create"> Add a new travel plan </a>

</div>




