{{!-- about page --}}

<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ex ab dolor illo, sequi blanditiis sit minima assumenda, impedit expedita vel exercitationem. Iure, quae quis. Fugiat quas libero aperiam nulla.</p>
</div>
