{{!-- Custom styles for this page --}}
<link rel="stylesheet" href="/css/nav-admin.css">

<!-- navbar -->
<div class="nav-admin">
    <nav class="navbar navbar-expand-sm">
        {{!-- brand --}}
        <a class="navbar-brand" href="#">Travel Consultant</a>
        {{!-- links --}}
        <ul class="navbar-nav">
            <li id="signout" class="nav-item">
                <a class="nav-link" href="/signout">Sign out</a>
            </li>
        </ul>
    </nav>
</div>